@model List<BlankSpace.ViewModels.AssignedDriverVm>

<p class="h2" style="text-align:center;">Bus List<br /><div style="border-bottom:1px solid #686868"></div> </p>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th class="h3">
                Serial No
            </th>
            <th class=" h3 ">
               Diver Name
            </th>
            <th class=" h3  ">
                Assigned Bus
            </th>
            
            <th class=" h3  ">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td class=" h4  ">@item.Serial</td>
            <td class=" h4  ">@item.DriverName</td>
            <td class=" h4  ">@item.CoachName</td>
            <td class=" h4  ">
                <a asp-action="UpdateAssignedDriver" asp-controller="Driver" asp-route-id="@item.AssignedDriverId"><i class="fa fa-pencil-square" style="font-size:25px;color:green"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a asp-action="DetailsAssignDriver" asp-controller="Driver" asp-route-id="@item.AssignedDriverId"><i class="fa fa-info-circle" style="font-size:25px;color:dodgerblue"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a asp-action="DeleteAssignedDriver" asp-controller="Driver" asp-route-id="@item.AssignedDriverId"><i class="fa fa-trash" style="font-size:25px;color:red"></i></a>

            </td>
        </tr>
        }
    </tbody>
</table>
